USE [BASE_PROYECTO]
GO
/****** Object:  StoredProcedure [dbo].[SP_RESULTADO_ANALISIS]    Script Date: 23/10/2024 20:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_RESULTADO_ANALISIS]
(
@SCORE INT,
@CALIFICACION VARCHAR(16),
@NUMTARJETAS INT,
@PORCENTAJE FLOAT,
@DEUDASFN FLOAT,
@EDADMIN INT,
@EDADMAX INT
)
AS
BEGIN

/*
SET @SCORE = 500
SET @CALIFICACION = 'AAA,AA,Sin Informacion'
SET @NUMTARJETAS = 2
SET @DEUDASFN = 30000
SET @PORCENTAJE = 0.40
SET @EDADMIN =20
SET @EDADMAX = 60
*/

-----------------------------
-- CREAMOS ESTRUCTURA Q CONTIENE RESULTADOS
-----------------------------
DROP table IF EXISTS RESTCALIFICACION;


CREATE TABLE RESTCALIFICACION
(
	IDENTIFICACION VARCHAR(16),
	SCORE INT,
	APLICASCORE INT,
	CALIFICACION VARCHAR(16),
	APLICACALIF INT,
	INGRESOMENSUAL FLOAT,
	CUOTAMENSUAL FLOAT,
	CAPACIDADMENSUAL FLOAT,
	APLICACAPPAGO INT,
	TIENETJ VARCHAR(16),
	APLICATJ INT,
	CARTCAST FLOAT,
	APLICACARTCAST INT,
	APLICADEMJUD INT,
	APLICANUMTJS INT,
	DEUDASFN FLOAT,
	APLICADEUDASFN INT,
	EDADSOCIO INT,
	APLICAEDAD INT,
)

-----------------------------
-- INSERTAMOS LOS CLIENTES CON EL SCORE DESEADO
-----------------------------
INSERT INTO RESTCALIFICACION(IDENTIFICACION, SCORE, APLICASCORE)
EXEC SP_SCORE @SCORE


-----------------------------
-- INSERTAMOS CALIFICACION
-----------------------------
/*
SELECT CALIF, 
CASE WHEN CALIF IN (SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT('AAA,AA,Sin Informacion', ',')) THEN '1' ELSE '0' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI
*/

UPDATE R 
SET CALIFICACION = CALIF, 
APLICACALIF = CASE WHEN CALIF IN (SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@CALIFICACION, ',')) THEN '1' ELSE '0' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI

-----------------------------
-- INSERTAMOS TIENE_TJ
-----------------------------
/*SELECT TIENE_TJ,
CASE WHEN TIENE_TJ = 'SI' THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI*/

UPDATE R
SET TIENETJ = TIENE_TJ,
APLICATJ = CASE WHEN TIENE_TJ = 'SI' THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI

-----------------------------
-- INSERTAMOS CARTERA CASTIGADA
-----------------------------
/*SELECT CART_CAST,
CASE WHEN CART_CAST > 0 THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI*/

UPDATE R
SET CARTCAST = CART_CAST,
APLICACARTCAST = CASE WHEN CART_CAST > 0 THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI

-----------------------------
-- INSERTAMOS DEMANDA JUDICIAL
-----------------------------

/*SELECT DEM_JUD,
CASE WHEN DEM_JUD > 0 THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI*/

UPDATE R
SET APLICADEMJUD = CASE WHEN DEM_JUD > 0 THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI 

-----------------------------
-- INSERTAMOS NUMERO TARJETAS
-----------------------------

/*SELECT NUM_TJS,
CASE WHEN NUM_TJS > 2 THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI*/

UPDATE R
SET APLICANUMTJS = CASE WHEN NUM_TJS > @NUMTARJETAS THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI

-----------------------------
-- INSERTAMOS DEUDA SISTEMA FINANCIERO
-----------------------------

/*SELECT DEUDA_SFN,
CASE WHEN DEUDA_SFN > 30000 THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI*/

UPDATE R
SET DEUDASFN = DEUDA_SFN,
APLICADEUDASFN = CASE WHEN DEUDA_SFN > @DEUDASFN THEN '0' ELSE '1' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI

-----------------------------
-- INSERTAMOS EDAD
-----------------------------

/*SELECT EDAD,
CASE WHEN EDAD BETWEEN 31 AND 60 THEN '1' ELSE '0' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI*/

UPDATE R
SET EDADSOCIO = EDAD,
APLICAEDAD = CASE WHEN EDAD BETWEEN @EDADMIN AND @EDADMAX THEN '1' ELSE '0' END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI

-----------------------------
-- INSERTAMOS CAPACIDAD DE PAGO (ESTA MAL)
-----------------------------

UPDATE R
SET INGRESOMENSUAL = B.ING_DIST,
CUOTAMENSUAL = B.CUOTA_MENS,
CAPACIDADMENSUAL = CASE WHEN (ING_DIST - CUOTA_MENS) * @PORCENTAJE <= 0 THEN 0 ELSE (ING_DIST - CUOTA_MENS) * @PORCENTAJE END,
APLICACAPPAGO = CASE WHEN (ING_DIST - CUOTA_MENS) * @PORCENTAJE <= 0 THEN 0 ELSE 1 END
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI

/*
SELECT 
B.ING_DIST,
B.CUOTA_MENS,
CASE WHEN (ING_DIST - CUOTA_MENS) * 0.40 < 0 THEN 0 ELSE (ING_DIST - CUOTA_MENS) * 0.40 END AS RESULTADO,
CASE WHEN (ING_DIST - CUOTA_MENS) * 0.40 < 0 THEN 0 ELSE 1 END AS RESULTADO2
FROM RESTCALIFICACION R
INNER JOIN BASE_FINAL B ON R.IDENTIFICACION = B.CI
*/

SELECT* FROM RESTCALIFICACION
WHERE APLICACALIF = 1
AND APLICASCORE = 1
AND APLICACAPPAGO = 1
AND APLICACARTCAST = 1
AND APLICADEMJUD = 1
AND APLICAEDAD = 1
AND APLICANUMTJS = 1
AND APLICATJ = 1
END
